
  <div class="row">
    <div class="col-sm-2"><img src="https://www.gravatar.com/avatar/{{emailHash}}?d=wavatar" style="height: 80px; width: 80px;" /></div>
    <div class="col-sm-3"><h2>Hi, {{firstName}} {{lastInitial}}.</h2></div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <span class="small">Tasks and polls will appear here when appropriate. Please keep this window open.</span>
      <ul id="messages"></ul>
    </div>
  </div>

  <form action="">
  
  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Current Task</h3>
        </div>
        <div class="panel-body" id="current-task-panel-body">
          <span id="current-task">No task at this time.</span>

          <div id="task-buttons" style="display: none;">
            <button type="button" id="completed-task" class="btn btn-success">Completed Task!</button>
            <button type="button" id="just-a-min" class="btn btn-warning">Just another minute!</button>
            <button type="button" id="ack-help" class="btn btn-danger">Eeek! Help!</button>
          </div>
          
        </div>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Task History</h3>
        </div>
        <div class="panel-body" id="task-history">No Task History.</div>
      </div>

    </div>
  </div>

  </br>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Preferences</div>
        <div class="panel-body">
          <div class="col-sm-6 text-center">
            <input type="checkbox" id="toggle-notifications" data-size="mini" data-toggle="toggle" data-width="170" data-height="30" data-size="normal" data-on="Notifications On" data-off="Notifications Off" data-onstyle="success">
          </div>
          <div class="col-sm-6 text-center">
            <input type="checkbox" id="toggle-isAfk" data-size="mini" data-toggle="toggle" data-width="170" data-height="30" data-size="normal" data-on="I'm Here" data-off="I've Stepped Away" data-onstyle="success">
          </div>
        </div>
      </div>
    </div>
  </div>
  

  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/notify.js"></script>
  <script src="/js/buzzr.js"></script>
  <script>
    // Announce we've connected to the room
    socket.on('connect', function() {
      socket.emit('attendee-joined', {}, function(attendee, currentTask, taskHistory) {
        
        // Set notification prefs
        //console.log(attendee.isAfk);
        $('#toggle-notifications').bootstrapToggle((attendee.notifications ? 'on' : 'off'));
        
        // Set AFK status
        $('#toggle-isAfk').bootstrapToggle((attendee.isAfk ? 'off' : 'on'));
        
        // Set current task
        setTask(currentTask);
        
        // Set current task history
        updateTaskHistory(taskHistory);
        
        // Set current task status if we reloaded after saving
        clearAndSet(statuses[attendee.status])
      });
    });
  </script>
  <audio id="audiotag1" src="audio/i-demand-attention.mp3" preload="auto"></audio>
