Hi Instructor

<p>
<strong>id</strong>: {{ user.id }}<br>
<strong>pic</strong>: <img src="{{ user.pic }}" /><br>
<strong>email</strong>: {{ user.email }}<br>
<strong>name</strong>: {{ user.displayName }}
</p>