<!DOCTYPE html>
<html>
  <head>
    <title>Buzzr!</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap2-toggle.min.css">
    <link rel="stylesheet" href="/css/buzzr.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap2-toggle.min.js"></script>
  </head>
  <body role="document">
    
    <div class="container">
    
    {{{body}}}

      <div class="row">
        <div class="col-sm-12" id="footer">
          <div class="col-sm-3">Buzzr! &copy; 2017</div>
          <div class="col-sm-9">
            {{#if user}}
            <div class="pull-right"><a href="/logout" onClick="properLogout=true; return true;">Logout</a></div>
            {{/if}}
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
