html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  margin-top: 10px;
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.navbar-brand {
	padding-top: 5px;
	padding-bottom: 0;
	height: 30px;
}

.navbar {
	min-height: 30px
}

.navbar-static-top {
	margin-bottom: 5px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.vcenter {
  display: inline-block;
  verticle-align: middle;
  float: none;
}

.tcenter {
  text-align: center;
}